<mat-card>
  <form [formGroup]="search">
    <div class="row">
      <div class="col-12 col-md-4 text-left">
        <custom-input [displayData]="allflights"
                      placeholder="From"
                      [patchCode]="search.get('from').value"
                      (change)="elementSet($event)"></custom-input>
      </div>
      <div class="col-12 col-md-4 text-left">
        <custom-input [displayData]="allflights"
                      [patchCode]="search.get('to').value"
                      placeholder="To"
                      [from]="search.get('from').value"
                      (change)="elementSet($event)"></custom-input>
      </div>
    </div>
  </form>
  <div class="row" *ngIf="search.get('to').value && search.get('to').value">
    <div class="col-12 col-md-4 text-left">
      <mat-form-field class="date-input">
        <input matInput [matDatepicker]="go" (ngModelChange)="dateSet('go',$event)" [(ngModel)]="godate"
               placeholder="Choose a departure date" disabled>
        <mat-datepicker-toggle matSuffix [for]="go"></mat-datepicker-toggle>
        <mat-datepicker #go [disabled]="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4 text-left">
      <mat-form-field class="date-input">
        <input matInput [matDatepicker]="back" (ngModelChange)="dateSet('back',$event)" [(ngModel)]="backdate"
               placeholder="Choose a return date" disabled>
        <mat-datepicker-toggle matSuffix [for]="back"></mat-datepicker-toggle>
        <mat-datepicker #back [disabled]="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 text-md-right text-center">
      <button [disabled]="!search.valid" (click)="goSearch()" mat-raised-button color="primary">Continue</button>
      <button *ngIf="haveparams" routerLink="/home" mat-raised-button color="primary">Search new flight</button>
    </div>
  </div>
</mat-card>
