<div class="container">
  <h1>Results</h1>
  <div *ngFor="let items of results['flights']">
    <mat-card>
      <div class="row">
        <div class="col-6 col-md-6 text-left">
          <h5>Departure: {{items.dateFrom | date: 'short'}}</h5>
        </div>
        <div class="col-6 col-md-6 text-left">
          <h5>Departure: {{items.dateTo | date: 'short'}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12">
          <button mat-raised-button color="primary">Buy it for {{items.currency}} {{items.price | number: '2.1-2'}}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
