<form [formGroup]="search">
  <mat-form-field>
    <input matInput
           placeholder="{{placeholder}}"
           (focus)="openDropDown(true)"
           formControlName="destination">
  </mat-form-field>
  <div>
    <mat-card *ngIf="visible" class="dropdown">
      <div class="row">
        <div class="col-12 col-md-8 separator">
          <h4>Pick a country</h4>
          <div class="col-12 col-md-12 countries">
            <ul *ngFor="let item of filteredcountry">
              <li (click)="autoCompleat(item.name)" [ngClass]="setActive(item.name)?'active':null">{{item.name}}</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <h4>Pick an airport</h4>
          <ul *ngFor="let item of filteredAirports">
            <li (click)="returnItem(item)" [ngClass]="setActive(item.name)?'active':null">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </mat-card>
  </div>
</form>
