.dropdown {
  margin-top: -10px;
  width: 220%;
  background-color: white;
  opacity: 1;
  position: absolute;
  z-index: 1;
  padding: 0;
}

ul {
  li {
    list-style: none;
    cursor: pointer;
  }
}

.separator {
  li:hover {
    background-color: #E8F4FD;
    border-radius: 9px;
  }
}

.active {
  background-color: #2091EB;
  border-radius: 9px;
}

.countries {
  column-count: 3;
}

.separator {
  background-color: #f8fafc;
}
