@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body,
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  font-size: 16px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.mat-raised-button.mat-primary{
  font-weight: 600;
  color: darkblue;
  background-color: rgb(241, 201, 51);
}
.mat-calendar-body-selected{
  background-color: rgb(241, 201, 51);
}
